<header>
  <div class="header-container">
    <% if (currentPath === '/browse') { %>
      <a href="/" class="logo">
    <% } else { %>
      <a href="/listings/browse" class="logo">
    <% } %>
      <img src="/assets/images/NORM.png" alt="Logo" />
    </a>
    <form action="/listings/browse" method="GET" class="search-form">
      <input type="text" class="search-bar" name="search" placeholder="Search..." value="<%= typeof search !== 'undefined' ? search : '' %>" />
      <% if (typeof sort !== "undefined") { %>
        <input type="hidden" name="sort" value="<%= sort %>" />
      <% } %>
      <% if (typeof category !== "undefined") { %>
        <input type="hidden" name="category" value="<%= category %>" />
      <% } %>
      <% if (typeof minPrice !== "undefined") { %>
        <input type="hidden" name="minPrice" value="<%= minPrice %>" />
      <% } %>
      <% if (typeof maxPrice !== "undefined") { %>
        <input type="hidden" name="maxPrice" value="<%= maxPrice %>" />
      <% } %>
      <button type="submit" class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <div class="header-icons">
      <a href="#" class="icon">
        <i class="fa-regular fa-heart"></i>
      </a>
      <a href="/listings/sell" class="icon">
        <i class="fa-solid fa-circle-plus"></i>
      </a>
      <a href="/profile" class="icon">
        <!-- <img src="/path/to/profile-pic.png" alt="Profile" class="profile-pic" /> -->
        <i class="fa-solid fa-circle-user"></i>
      </a>
      <a href="/logout" class="icon">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </div>
  </div>
</header>