<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <div class="details-container">
      <img src="<%= listing.image %>" alt="<%=listing.name%>" />
      <div class="details">
        <h2><%=listing.name%></h2>
        <span class="tag">Tag</span>
        <h3><%=listing.price%></h3>
        <p><%=listing.description%></p>
        <div>
          <div class="dropdown">
            <label>Label</label>
            <select>
              <option>Value 1</option>
              <option>Value 2</option>
              <option>Value 3</option>
            </select>
          </div>
          <div class="dropdown">
            <label>Label</label>
            <select>
              <option>Value 1</option>
              <option>Value 2</option>
              <option>Value 3</option>
            </select>
          </div>
        </div>
        <button>Button</button>
        <div class="faq">
          <strong>Title</strong>
          <p>Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
