<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <div class="details-container">
      <img src="<%= listing.image %>" alt="<%=listing.name%>" />
      <div class="details">
        <h2><%=listing.name%></h2>
        <span class="tag">Tag</span>
        <h3><%=listing.price%></h3>
        <p><%=listing.description%></p>

        <% if (user == listing.seller._id) { %>
          <form>
            <div class="button-group">
              <button type="submit" formmethod="GET" formaction="/listings/edit/<%= listing.id %>"><i class="fa fa-edit"></i> Edit</button>
            
              <button type="submit" formmethod="POST" 
              formaction="/listings/<%= listing.id %>?_method=DELETE"><i class="fa fa-trash"></i> Delete</button>
            </div>
          </form>
        <% } %>
        
        <div class="faq">
          <strong>Title</strong>
          <p>Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
